<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            
            </div>
            <div class="col-sm-7">
                <span class="p-tag">clan uchiha</span>
                <h1>Sasuke uchiha</h1>
                <p class="p-des">Sasuke Uchiha (Japanese: うちは サスケ, Hepburn: Uchiha Sasuke) (/ˈsɑːskeɪ/) is a fictional character in the Naruto manga and anime franchise created by Masashi Kishimoto. Sasuke belongs to the Uchiha clan, a notorious ninja family, and one of the most powerful, allied with Konohagakure (木ノ葉隠れの里, English version: "Hidden Leaf Village"). Most of its members were massacred by Sasuke's older brother, Itachi Uchiha, before the series began, leaving Sasuke one of the few living..... </p>
                <a href="#" class="p-readmore">Read More ...<img src="/assets/1blade.png" alt="the icon" width="50" class="ml-2"/></a>
            
            </div>


        </div>
    </div>
</section>
